#  Amazon Web Scraping Usando Python

In [ ]:
#pip install beautifulsoup

In [1]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [3]:
#conectando ao website
URL='https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_5?crid=2VCI3HVARHBJ7&dib=eyJ2IjoiMSJ9.PM2zhQFx_lfPnddZwr05DvJ8zxTiKbMNof3H_8ObTes8YarT96m4jiSWTM-p0IE3duwe6IsAvFH9zcr6W1KCx6CqOr-54IN7W4NEt9Zjyf0JkKbOy0vvprR8W9_RNjav5-Lj-jGj28CVCiGI0M4MqVI1Dce95Lisa9_HkEs-HwHhQQZ4H6sj_IGDwRetBB-MHRgDm2_zkwSFDyE9xv58B1gfsgct16JSRTRidkD67jVKYMfjWSF25FqYEBIDbFIrZipoxIFEP6QTdRVWFKmxZ7rHpO4oTaApPWL8a6ssrR8.wGJfiagFynIEQoDtczschUT54ejoUOkoiNmOUjVqyDk&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1720869625&sprefix=data%2Banalyst%2Btshirt%2Caps%2C232&sr=8-5'




headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

price = soup2.find('span',{'class':'aok-offscreen'}).get_text()


print(title)
print(price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt


                    $16.99

In [5]:
title=title.strip()
price=price.strip()[1:]

print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [41]:
import datetime

today=datetime.date.today()
print(today)

2024-07-13

In [ ]:
import csv
header = ['Title', 'Price','Date']
data = [title, price, today]

#with open('AmazonScraperWebDataset.csv', 'w', newline='', encoding='UTF8') as f:
 #    writer = csv.writer(f)
  #   writer.writerow(header)
   #  writer.writerow(data)

In [2]:
import pandas as pd
df= pd.read_csv(r"C:\Users\aj2co\projetos2023\dev\analistadedados\Pythonjupyter\scraper com python\AmazonScraperWebDataset.csv")
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
5  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
6  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
7  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
8  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
9  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13

In [47]:
#agora estamos acrescentando dados

with open('AmazonScraperWebDataset.csv', 'a+', newline='', encoding='UTF8') as f:
     writer = csv.writer(f)
     writer.writerow(data)

In [36]:
def check_price():
#conectando ao website
    URL='https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_5?crid=2VCI3HVARHBJ7&dib=eyJ2IjoiMSJ9.PM2zhQFx_lfPnddZwr05DvJ8zxTiKbMNof3H_8ObTes8YarT96m4jiSWTM-p0IE3duwe6IsAvFH9zcr6W1KCx6CqOr-54IN7W4NEt9Zjyf0JkKbOy0vvprR8W9_RNjav5-Lj-jGj28CVCiGI0M4MqVI1Dce95Lisa9_HkEs-HwHhQQZ4H6sj_IGDwRetBB-MHRgDm2_zkwSFDyE9xv58B1gfsgct16JSRTRidkD67jVKYMfjWSF25FqYEBIDbFIrZipoxIFEP6QTdRVWFKmxZ7rHpO4oTaApPWL8a6ssrR8.wGJfiagFynIEQoDtczschUT54ejoUOkoiNmOUjVqyDk&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1720869625&sprefix=data%2Banalyst%2Btshirt%2Caps%2C232&sr=8-5'




    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    price = soup2.find('span',{'class':'aok-offscreen'}).get_text()

    title=title.strip()
    price=price.strip()[1:]

    import datetime
    today=datetime.date.today()
   # print(today)

    import csv
    header = ['Title', 'Price','Date']
    data = [title, price, today]

    with open('AmazonScraperWebDataset.csv', 'a+', newline='', encoding='UTF8') as f:
         writer = csv.writer(f)
   #  writer.writerow(header)
         writer.writerow(data)

     #if(price < 14):
         #send_mail()

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [50]:
import pandas as pd
df= pd.read_csv(r"C:\Users\aj2co\projetos2023\dev\analistadedados\Pythonjupyter\scraper com python\AmazonScraperWebDataset.csv")
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
5  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
6  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
7  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13
8  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-13

In [ ]:
def send_email():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    #sever.starttls()
    server.ehlo()
    server.login('alanpontoinfo@gmai.com','passord')
    subject ='escreve o assunto'
    body= 'Escreve mensagem'

    msg = f"subject: {subject}\n\n{body}"

    server.sendmail(
    'alanpontoinfo@gmail.com',
    msg
    )